*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* nav related style */
header{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
nav h2{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    cursor: pointer;
}
nav h2 span{
    color: #FD6E0A;
}
nav > ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav ul li{
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 18px;
}
nav .btn-1{
    padding: 13px 35px;
    background-color: #FD6E0A;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
nav .btn-1 a{
    color: #fff;
    font-weight: 600;
}
.banner{
    padding: 30px 30px 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .banner .profile-pic{
    width: 584px;
    height: 676px;
}
.banner-greeting{
    color: #474747;
    font-size: 40px;
    font-weight: 500;
}
.banner-title{
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.banner-discription{
    color: #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 585px;
}
.btn-2, .btn-3{
    padding: 11px 15px;
    background-color: #FD6E0A;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    margin-top: 20px;
}
.btn-3{
    background-color: #fff;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    margin-left: 15px;
}

/* main section style */

main{
    max-width: 1140px;
    margin: 0 auto;
}

.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    border-radius: 10px;
    margin: 130px 0;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color:  #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 15px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
}


/* skill section style */
.skill-container{
    display: flex;
    /* padding: 40px 10px; */
    margin-top: 50px;
}
.skill{
    margin: 20px 40px;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, .1);
    padding: 20px;
    border-radius: 5px;
}
.skill-title{
    margin: 20px 0;
}
.skill-description{
    width: 170px;
    margin-top: 20px;
}