*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* nav related style */
header{
    background-color: #FFF8F3;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h2{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    cursor: pointer;
}
nav h2 span{
    color: #FD6E0A;
}
nav > ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 18px;
}
nav .btn-1{
    padding: 13px 35px;
    background-color: #FD6E0A;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
nav .btn-1 a{
    color: #fff;
    font-weight: 600;
}
.h-continer{
    display: flex;
}
